%div.widget
    %div.widget-head
        = 'Materiały promowane'
    %div.widget-content.padd.items-list.vertical-list
        - 2.times do
            %a.item.thumbnail.thumbnail-shadow{ href: "pl/video/montaz-listwy-startowej-z-pcv,273.html" }
                %div.image
                    %img{ src: "http://img.youtube.com/vi/Mi4PPx8h9qo/default.jpg", alt:"Montaż listwy startowej z PCV" }
                %div.title
                    = 'Montaż listwy startowej z PCV'
%div.widget
    %div.widget-head
        = 'TOP 6'
    %div.widget-content.padd.top-list-tabs
        %ul#top
            %li.active
                %a{ href: '#watched', data: { toggle: 'tab' } }
                    %i.glyphicon.glyphicon-eye-open
                    = ' Wyświetlane'
            %li
                %a{ href: '#liked', data: { toggle: 'tab' } }
                    %i.glyphicon.glyphicon-heart
                    = ' Lubiane'
            %li
                %a{ href: '#commented', data: { toggle: 'tab' } }
                    %i.glyphicon.glyphicon-comment
                    = ' Komentowane'
        %div.tab-content
            %div.tab-pane.fade.in.active.items-list.vertical-list#watched
                - 4.times do
                    %a.item.thumbnail.thumbnail-shadow{ href: "pl/video/montaz-listwy-startowej-z-pcv,273.html" }
                        %div.image
                            %img{ src: "http://img.youtube.com/vi/Mi4PPx8h9qo/default.jpg", alt:"Montaż listwy startowej z PCV" }
                        %div.title
                            = 'Montaż listwy startowej z PCV'
            %div.tab-pane.fade.in.items-list.vertical-list#liked
                - 4.times do
                    %a.item.thumbnail.thumbnail-shadow{ href: "pl/video/montaz-listwy-startowej-z-pcv,273.html" }
                        %div.image
                            %img{ src: "http://img.youtube.com/vi/Mi4PPx8h9qo/default.jpg", alt:"Montaż listwy startowej z PCV" }
                        %div.title
                            = 'Montaż listwy startowej z PCV'
            %div.tab-pane.fade.in.items-list.vertical-list#commented
                - 4.times do
                    %a.item.thumbnail.thumbnail-shadow{ href: "pl/video/montaz-listwy-startowej-z-pcv,273.html" }
                        %div.image
                            %img{ src: "http://img.youtube.com/vi/Mi4PPx8h9qo/default.jpg", alt:"Montaż listwy startowej z PCV" }
                        %div.title
                            = 'Montaż listwy startowej z PCV'
%div.widget
    %div.widget-head
        = 'Polub nas na facebook.com'
    %div.widget-content
        %div.fb-like-box.box{ data: { href: "https://www.facebook.com/pages/Telewizja-Budowlana/205816769453558", width:"358", height:"290", show: { faces: "true" }, stream: "false", header: "true" } }