%section#content
  %div.container
    %div.construction-tools
    %div.row
      %div.col-md-8
        %div.widget
          %div.widget-head
            = "Polecamy"
          %div.widget-content
            %div.tab-content.col-md-8#promoted-videos
              - 4.times do |i|
                %div{ class:  'tab-pane fade in padd' + (' active' if i == 0).to_s, id: 'video-'+i.to_s}
                  %iframe{ src: 'http://player.vimeo.com/video/66660405'}
                  %ul.details
                    %li
                      %i.glyphicon.glyphicon-heart
                        = '19'
                    %li
                      %i.glyphicon.glyphicon-eye-open
                      = '1980'
                    %li
                      %i.glyphicon.glyphicon-comment
                        = 7
                    %li
                      %i.glyphicon.glyphicon-user
                        = link_to 'Łukasz Łuczak'
                  %strong.h5
                    = 'To jest bardzo długi tytuł filmu umieszcoznego na stronie głównej '+i.to_s
            %ul.nav.nav-tabs.nav-tabs-vertical.col-md-4
              - 4.times do |i|
                %li{ class: ('active' if i == 0).to_s }
                  %a{ href: '#video-'+i.to_s, data: { toggle: 'tab' }}
                    %img{ src: 'http://img.youtube.com/vi/Mi4PPx8h9qo/default.jpg', width: 100, class: 'img-thumbnail'}
                    = 'Video '+i.to_s
            %div.clearfix
        = render :partial => 'partials/wall'
      %div.col-md-4
        = render :partial => 'main/sidebar'