%div.container
	- if current_user
		%p
			Welcome
			= image_tag current_user.avatar(:small) 
			= current_user.displayed_name
			from
			%b= current_user.is_active
			!
			= link_to t('auth.form.sign_out'), logout_path
	- else
		%h1= t('auth.form.title')
		%p
			= t('auth.form.trough_social_media')
			= link_to 'facebook.com', 'auth/facebook'
			,
			= link_to 'Google+', 'auth/google_oauth2'
			= t('auth.form.or_form_below')+':'
		= form_tag 'auth/sign_in', { class: 'col-xs-5' } do
			.form-group
				= label_tag :email, t('auth.form.email')
				= text_field_tag :email, '', { class: 'form-control' }
			.form-group
				= label_tag :password, t('auth.form.password')
				= password_field_tag :password, '', { class: 'form-control' }
			= submit_tag t('auth.form.sign_in')
			%hr
			%p
				= t('auth.form.if_no_account')+', '
				= link_to t('auth.form.create_new_one'), 'auth/register'