%div.container-fluid
  %h1 New Account

  = form_for :user, :url => {:controller => 'auth', :action => 'new'} do |f|
    .field
      = f.label :first_name
      = f.text_field :first_name, { class: 'form-control' }
    .field
      = f.label :last_name
      = f.text_field :last_name, { class: 'form-control' }
    .field
      = f.label :email
      = f.text_field :email, { class: 'form-control' }
    .field
      = f.label :password
      = f.password_field :password, { class: 'form-control' }
    .field
      = f.label :password_confirmation
      = f.password_field :password_confirmation, { class: 'form-control' }
    = submit_tag "Register"