<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.first_name %>, witaj w TV BUD!</h1>
    <p>
      Dokonałeś/aś rejestracji w naszym portalu przy pomocy zewnętrznego serwisu. Do logowania możesz w dalszym ciągu używać tego serwisu, lub po prostu przy użyciu następujących danych: </br>
      Email: <strong><%= @user.email %></strong><br>
      Hasło: <strong><%= @password %></strong>
    </p>
    
    <p>Dziękujemy za dołączenie do społeczności budowlanej!</p>
  </body>
</html>