= form_for @article do |f|
  - if @article.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :content
    = f.text_area :content
    .field
    = f.label :slug
    = f.text_field :slug
    .field
    = label_tag :language
    = text_field_tag :language
  .actions
    = f.submit 'Save'
