%h1 Listing articles

%table
  %tr
    %th Title
    %th Content
    %th
    %th
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.name
      %td= article.content
      %td= link_to 'Show', item_slugged_path(article)
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %td= link_to 'Like article', like_item_path(article.item.id)
      %td= link_to 'Rate article', rate_item_path(article.item.id)

%br

= link_to 'New Article', new_article_path
