%section#header
  %header.bar
    %div.container
      %div.col-md-4            
        %ul.lang-bar
          %li
            %a{ href: url_for(:locale => :pl), class: 'flag flag-pl'}
              %span.sr-only= 'Polski'
          %li
            %a{ href: url_for(:locale => :ru), class: 'flag flag-ru'}
              %span.sr-only= 'Rosyjski'
          %li
            %a{ href: url_for(:locale => :ua), class: 'flag flag-ua'}
              %span.sr-only= 'Ukraiński'
          %li
            %a{ href: url_for(:locale => :en), class: 'flag flag-en'}
              %span.sr-only= 'Angielski'
      %div.col-md-4.text-center.slogan
        %strong= t('main.header.slogan')
      %div.col-md-4
        %ul.nav.navbar-nav.navbar-right#auth-menu
          - if current_user
            %li
              %a{}
                = image_tag current_user.avatar(:small), class: 'thumb'
                = current_user.displayed_name
            %li
              %a{ title: t('main.header.user.messages') }
                %i.glyphicon.glyphicon-envelope
            %li
              %a{ title: t('main.header.user.watchers') }
                %i.glyphicon.glyphicon-eye-open
            %li
              %a{ title: t('main.header.user.settings') }
                %i.glyphicon.glyphicon-cog
              %ul
                %li
                  = link_to t('main.header.user.settings.edit'), logout_path
                %li
                  = link_to t('main.header.auth.logout'), logout_path
          - else
            %li
              %a{ href: auth_path }
                = t('main.header.auth.logging_in') + ' / ' + t('main.header.auth.registration')
                %i.glyphicon.glyphicon-log-in
  %div.container#top
    %div.hook
    %div.dual-bar
    %div.row
      %div.col-md-3
        %span#logo
          = image_tag('header-logo.png')
      %div.col-md-6.last-logged
        %div.col-md-3.text-right
          %strong
            %i.glyphicon.glyphicon-user
            = t('main.header.last_logged')
        %div.col-md-9
          %ul.last-users.users-list.pull-left
            - get_last_logged.each do |u|
              %li
                = image_tag u.avatar(:small), { class: 'img-thumbnail', data: { toggle: 'tooltip', trigger: 'hover'}, title: u.displayed_name }
      %div.col-md-3.search
        %div.input-group
          %input.form-control{ type:'search', placeholder: t('main.header.search')+'...' }
          %span.input-group-btn
            %button.btn.btn-default{ type: 'button', title: t('main.header.search') }
              %i.glyphicon.glyphicon-search
    %nav#nav{ role:'navigation'}
      %ul.nav.navbar-nav
        %li.active
          %a{ href:'#' }
            = 'Home'
            %i.glyphicon.glyphicon-chevron-right
        %li
          %a{ href:'#' }
            = 'About'
            %i.glyphicon.glyphicon-chevron-right
        %li
          %a{ href:'#' }
            = 'Contact'
            %i.glyphicon.glyphicon-chevron-right
      %div.clearfix
  %div.container.banner.text-center
    = image_tag '', { width: '1000', height: '100', alt: 'banner' }
  %div.container
    %ol.breadcrumb
      %li
        %a
          %i.glyphicon.glyphicon-home
          = t('breadcrumb.home')
      %li
        %a= 'Library'
      %li.active= 'Current'

  - if flash.any?
    %div.container#alerts
      - flash.each do |type, message|
        %div{ class: "alert alert-dismissable "+bootstrap_class_for(type).to_s }
          %button{ type: "button", class: "close", data: { dismiss: "alert" }, aria: { hiddend: "true" }}
            = raw "&times;"
          = message