%div.widget.user-wall
  %div.widget-head
    = 'Plac budowy'
  %div.widget-content
    %div.navbar.filters
      %div.btn-group{ data: { toggle: "buttons" } }
        %label.btn.btn-default
          %input{ type:"checkbox" }
          %i.glyphicon.glyphicon-facetime-video
          = 'Filmy'
        %label.btn.btn-default
          %input{ type:"checkbox" }
          %i.glyphicon.glyphicon-edit
          = 'Artykuły'
        %label.btn.btn-default
          %input{ type:"checkbox" }
          %i.glyphicon.glyphicon-picture
          = 'Zdjęcia'
        %label.btn.btn-default
          %input{ type:"checkbox" }
          %i.glyphicon.glyphicon-list
          = 'Dyskusje'
      %div.banner
    %div.list-group
      %div.list-group-item
        %header.row
          %div.col-md-8
            %a{ href:'#' }
              %img.img-thumbnail{ :data => { :toggle => 'tooltip', :trigger => 'hover' } }
              = 'Jan Kowalski-JUNIOR'
            = ' dodał film w kategorii '
            %a{ href:'#' }
              = 'Dachy'
          %div.col-md-4.text-right
            %time
              = '23.10.2013 o godz. 16:23'
        %section.content.well
          %div.row
            %div.col-md-3.text-center
              %a
                %img{ src:"http://www.tvbud.pl/app/portal/tpl/images/user-page-no-avatar.jpg", class: "img-thumbnail" }
            %div.col-md-9
              %strong
                = 'Tytuł dodanego filmu'
              %p
                = 'Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu.'
        %div.text-right
          %a.btn.btn-default.pull-left
            %i.glyphicon.glyphicon-heart
            = ' Lubię to!'
          %ul.users-list.likers
            %li
              %img{ src: 'http://www.tvbud.pl/app/portal/tpl/images/user-page-no-avatar.jpg', class: 'img-thumbnail' }
          %a.btn.btn-link
            = 'Zobacz wszystkich'
      %div.list-group-item
        %header.row
          %div.col-md-8
            %a{ href:'#' }
              %img.img-thumbnail{ :data => { :toggle => 'tooltip', :trigger => 'hover' } }
              = 'Jan Kowalski-JUNIOR'
            = ' dodał film w kategorii '
            %a{ href:'#' }
              = 'Dachy'
          %div.col-md-4.text-right
            %time
              = '23.10.2013 o godz. 16:23'
        %section.content.well
          %strong
            = 'Tytuł dodanego filmu'
          %p
            = 'Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu. Opis nowo dodanego filmu.'
        %div.text-right
          %a.btn.btn-default.pull-left
            %i.glyphicon.glyphicon-heart
            = ' Lubię to!'
          %ul.users-list.likers
            %li
              %img{ src: 'http://www.tvbud.pl/app/portal/tpl/images/user-page-no-avatar.jpg', class: 'img-thumbnail' }
          %a.btn.btn-link
            = 'Zobacz wszystkich'
%a.btn-load-items
  = 'Załaduj wcześniejsze wpisy'