<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Last logged at:</strong>
  <%= @user.last_logged_at %>
</p>

<p>
  <strong>Sub info (by, subscribing)</strong>
  <%= @count_subscribed %>
  <%= @count_subscribing %>
</p>

<p>
  <strong>Subscribing</strong>
  <% @subscribing.each do |user| %>
  <%= user.first_name %>
  <% end %>
</p>

<p>
  <strong>Subscribed by</strong>
  <% @subscribed.each do |user| %>
  <%= user.first_name %>
  <% end %>
</p>

<p>
  <strong>Subscribed content</strong>
  <%= @subscribed_content.size %>
  <% @subscribed_content.each do |item| %>
  <%= item.as_item_type %>
  <% end %>
</p>

<p>
  <strong><%= link_to 'Subscribe!', subscribe_user_path %></strong>
</p>


<%= link_to 'Back', users_path %>
