%h1 Videos
%p
	Total videos
	%strong= @videos.size
	= link_to t('videos.add_new'), new_video_path
%ul
- @videos.each do |video|
	%li
		= video.name
		(
		= video.id
		) - 
		= video.active
		added by 
		= video.user.displayed_name if video.user
		= 'unknown' unless video.user
		= raw video.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') 
