%div.widget
  %div.widget-head
    = t('comments')
  %div.widget-content.padd
    %ul.chats
      - 6.times do
        %li.by-me
          %div.avatar.pull-left
            %img
          %div.chat-content
            %div.chat-meta
              = 'Nick'
              %span.pull-right
                = '3 hours ago'
            = 'Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.'
            %div.clearfix
        %li.by-other
          %div.avatar.pull-right
            %img
          %div.chat-content
            %div.chat-meta
              = '3 hours ago'
              %span.pull-right
                = 'Nick'
            = 'Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.'
            %div.clearfix                                              
  %div.widget-foot
    %form.form-inline.add-comment{ role: 'form' }
      %div.form-group
        %input{ type: 'text', class: 'form-control', id: 'comment', placeholder: 'Comment here' }
      %button{ type: 'submit', class: 'btn btn-default' }= t('send')