%p#notice= notice

%p
  %b Title:
  = @article.name
%p
  %b Content:
  = @article.content
  
%p
  %b Comments:
  = @comments.size
  

= link_to 'Edit', edit_article_path(@article)
\|
= link_to 'Back', articles_path


%table
  %tr
    %th Comments

  - @comments.each do |comment|
    %tr
      %td= comment.content

= form_for @comment do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= "#{pluralize(@article.errors.count, "error")} prohibited this article from being saved:"
      %ul
        - @comment.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :content
    = f.text_area :content
    
    = f.hidden_field :parent_id, value: @item.id
    
  .actions
    = f.submit 'Comment'