%div.widget
    %div.widget-head
        = 'Materiały użytkownika'
    %div.widget-content.padd.items-list.vertical-list
        - 2.times do
            %a.item.thumbnail.thumbnail-shadow{ href: "pl/video/montaz-listwy-startowej-z-pcv,273.html" }
                %div.image
                    %img{ src: "http://img.youtube.com/vi/Mi4PPx8h9qo/default.jpg", alt:"Montaż listwy startowej z PCV" }
                %div.title
                    = 'Montaż listwy startowej z PCV'
    %div.widget-foot.text-center
        %a{ href: "#", class: "btn btn-default" }
            = t('sidebar.btn_see_all')

%div.widget
    %div.widget-head
        = 'Podobne'
    %div.widget-content.padd.items-list.vertical-list
        - 2.times do
            %a.item.thumbnail.thumbnail-shadow{ href: "pl/video/montaz-listwy-startowej-z-pcv,273.html" }
                %div.image
                    %img{ src: "http://img.youtube.com/vi/Mi4PPx8h9qo/default.jpg", alt:"Montaż listwy startowej z PCV" }
                %div.title
                    = 'Montaż listwy startowej z PCV'
    %div.widget-foot.text-center
        %a{ href: "#", class: "btn btn-default" }
            = t('sidebar.btn_see_more')