%section#content
  %div.container
    %div.construction-tools
    %div.row
      %div.col-md-8
        %div.widget
          %div.widget-head
            %strong= @item.translation.name
            %span.pull-right
              %i.glyphicon.glyphicon-calendar= @item.translation.created_at
          %div.widget-content
            = render :partial => 'items/player', :item => @item
            %ul.details
              %li
                %i.glyphicon.glyphicon-heart
                  = '19'
              %li
                %i.glyphicon.glyphicon-eye-open
                = '1980'
              %li
                %i.glyphicon.glyphicon-comment
                  = 7
              %li
                %i.glyphicon.glyphicon-user
                = link_to 'Łukasz Łuczak'
            %div.description.padd
              = @item.translation.content
            %div.widget-foot.text-right
              %a{ href: '#', class: 'btn btn-default pull-left' }
                %i{ class: 'glyphicon glyphicon-heart' }
                = t('like_it')
              %ul.users-list.likers
                - 8.times do
                  %li
                    %img{ src: "http://www.tvbud.pl/app/portal/tpl/images/user-page-no-avatar.jpg", class:"img-thumbnail" }
              %a{ href:"#", class:"btn btn-link" }= 'Zobacz wszystkich'
        = render :partial => 'items/comments'
      %div.col-md-4
        = render :partial => 'items/sidebar'