/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "bootstrap";

@mixin linear-gradient($fromColor, $toColor) {
  background-color: $toColor; /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}

body { background:#ededed !important }
body * { color:#838383 }

.flag {
	width: 16px;
	height: 11px;
	background:url(image-path('flags.png')) no-repeat;
	&.flag-pl {	background-position: -32px 0; };
	&.flag-ru {	background-position: 0 -11px; };
	&.flag-ua {	background-position: -16px -11px; };
	&.flag-gb {	background-position: -16px 0; };
}

.form-control { height: auto !important;}

#header {
	position:relative;
	background:url(image-path('header-bg.png')) no-repeat 50% 50%;
	.glyphicon { margin:0 5px; };
	.container { max-width:1170px !important };
	.slogan { padding:14px 0; };
	.breadcrumb { position: relative; };
	.banner {
		position:relative;
		z-index:1;
		img {
			min-height:100px;
			margin:15px;
			display: block;
			background-color:#999;
			opacity:.5;
			position:relative;
			z-index:3;
		};
	};
	.bar {
		position:relative;
		@include linear-gradient(#f8f8f8, #f2f2f2);
		@include box-shadow(0px 14px 30px rgba(50, 50, 50, 0.13));
		padding:0;
		z-index:5;
		.lang-bar {
			margin: 15px 0 0 15px;
			padding:0; 
			li {
				width:16px;
				height:11px;
				display:inline-block; 
				a {
					width:16px;
					height:11px;
					display:block;
				};
			};
		};
	};
	.last-logged {
		margin:40px 0;
		.users-list {
			padding:0;
			margin:0;
		};
	};
	.search {
		margin:49px 0 0 -30px;
		position:relative;
		z-index:4;
	};
	#auth-menu {
		.thumb {
			max-height: 20px;
			vertical-align: top;
			margin-bottom: 0 4px
		};
		> li {
			position: relative;
			&:hover {
				background: #eeeeee;
				ul { display: inline-block; };
			};
			ul {
				position: absolute;
				top: 100%;
				right: 0;
				min-width: 200px;
				list-style: none;
				display: none;
				li a {
					display: inline-block;
					padding: 6px;
					background: #eeeeee;
					width: 100%;
					&:hover { background: #f8f8f8; };
				};
			};
		};
	};
	.widget .widget-head { text-shadow:none }
	.widget .widget-content { background:url(image-path('header-bg.jpg')) right; }
}


.users-list li { display:inline; height:45px; }
.users-list li img { max-height:45px; }


#top {
	position:relative; 
	.hook {
		background-image: url(image-path('background-hook.png'));
		background-size: contain;
		background-repeat: no-repeat;
		width: 85px;
		height: 237px;
		position: absolute;
		top: -20px;
		right: 0;
		z-index: 3;
	};
	.dual-bar {
		background-image: url(image-path('background-dual-bar.png'));
		width: 150px;
		height: 150px;
		background-size: cover;
		position: absolute;
		top: 232px;
		left: -20px;
	};
	#logo {
		margin:20px;
		width:103px;
		height:90px;
		display:inline-block;
	};
	#nav {
		width:100%;
		border-bottom:1px solid #dcdcdc;		
		@include linear-gradient(#f8f8f8, #f2f2f2);
		z-index:2;
		position:relative; 	
 		li a:hover {
			@include linear-gradient(#fced43, #fac145);
		};
		.dropdown-menu { z-index:3; };
	};
}

#nav .dropdown-menu { z-index:3; }

#content .container { position:relative }
#content .container .construction-tools { background:url(http://www.tvbud.pl/app/portal/tpl/images/contstruction-tools.png) left; width:38px; height:192px; position:absolute; top:438px; left:-23px; z-index:3; } 

#promoted-videos { margin-bottom: 0; text-align: center; }
#promoted-videos iframe { height:290px; width:100%;  }
#promoted-videos strong { font-weight: bold; }
.promoted-banner { margin: 24px 0; }

.nav-tabs-vertical { margin-bottom:0 !important; padding:0 !important; border-left:1px solid #ddd; background-color:#eee; }
.nav-tabs-vertical li { width:100%; border:0 !important;  }
.nav-tabs-vertical li a {border:0 !important; border-radius:0; margin-right:0 }
.nav-tabs-vertical li a:hover,
.nav-tabs-vertical li.active a { border-color:#ddd !important; border-left:0; border-right:0 }
.nav-tabs-vertical li a:hover { background-color:#fff }

.navbar.filters { margin-bottom:0; padding:10px; }
	.navbar.filters .banner { width: auto; display: inline-block; float: right;}

.users-list li { display:inline; height:45px; }
.users-list li img { max-height:45px; }

.users-list.likers { width: auto; padding: 0 10px; margin-bottom: 0; display: inline-block;}
.users-list.likers li img { max-height: 32px; }

.panels { padding:10px }

.user-panel .user-pictures { position: relative; padding-bottom: 40px; }
	.user-panel .user-pictures .user-wall-picture { width:100%; height:180px; display: block; }
	.user-panel .user-pictures .user-profile-picture { position: absolute; width: 100px; height: 100px; left: 20px; bottom: 10px; }
		.user-panel .user-pictures .user-profile-picture img {width: 100%; height: 100%; }
		.user-panel .user-pictures .user-wall-picture img {width: 100%; height: 100%; background: rgba(0,0,0,.3); display: block; }
.btn-watch {	
	background: #fced43;
	background: -moz-linear-gradient(top,  #fced43 0%, #fac145 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fced43), color-stop(100%,#fac145));
	background: -webkit-linear-gradient(top,  #fced43 0%,#fac145 100%);
	background: -o-linear-gradient(top,  #fced43 0%,#fac145 100%);
	background: -ms-linear-gradient(top,  #fced43 0%,#fac145 100%);
	background: linear-gradient(to bottom,  #fced43 0%,#fac145 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fced43', endColorstr='#fac145',GradientType=0 );

 }
 .btn-watch + .btn-default { background: #ebebeb}

.details {
	padding:0; 
	text-align:center;
	list-style:none 
}
.details li { display:inline-block; margin:0 4px; }

.thumbnail { position:relative; }
.thumbnail-shadow:hover {
	-webkit-box-shadow: 0px 3px 30px rgba(50, 50, 50, 0.13);
	-moz-box-shadow: 0px 3px 30px rgba(50, 50, 50, 0.13);
	box-shadow: 0px 3px 30px rgba(50, 50, 50, 0.13);
}
.thumbnail .type {
	position: absolute;
	top: 2px;
	left: 4px;
	background-color: #fff;
	font-size: 14px;
	padding: 4px;
	border-bottom-right-radius: 4px;
}
.thumbnail strong { width:100%; display:inline-block; margin-top:30px; text-align:center }
.thumbnail .last-answers { text-align:center; margin:9px 0 29px 0; padding:0 }
.thumbnail .last-answers li { display:inline-block; margin:0 2px }
.thumbnail .last-answers li img { width:32px; height:32px; }
.thumbnail .details {
	width: 100%;
	margin:4px 0 0 0;
}

.panels .description { 
	width: 100%;
	margin:4px 0 0 0;
	padding:0;
	list-style:none;
	font-size:11px; line-height:15px
}
.panels .description li { }
.panels .panel-item { margin-bottom:20px; }
.tab-content .panel-item .title { line-height:15px; display:inline-block; margin:3px 0 7px 0 }

.player { padding:10px;}
	.player iframe { width: 100%; height: 409px}

.user-wall.widget { border:0; background:none;}

.user-wall .list-group-item { border-radius: 4px !important; margin-bottom: 10px}
.user-wall .list-group-item > header { padding: 10px 0; border: 0; background: none}
	.user-wall .list-group-item > header a { font-weight: bold;}
	.user-wall .list-group-item > header .img-thumbnail { height: 30px; }
	.user-wall .list-group-item .add-comment .thumb { padding: 0; position: relative; left: 24px}
		.user-wall .list-group-item .add-comment .thumb img { height: 30px;}
	.user-wall .load-more-items {margin-bottom: 20px;}
	.user-wall .list-group-item .details { padding: 5px 10px; }

.note-editor { background-color: #fff}

#footer {
	padding: 20px 0;
	background-image: url(image-path('stripped-bar.png'));
	background-position: 0 0;
	background-repeat: repeat-x;
}